pymupdf
openpyxl
langchain-core
langchain-community==0.4.1
langchain-text-splitters
langchain-huggingface
langchain-chroma
sentence-transformers
rank-bm25
openai>=1.109,<2
python-dotenv
streamlit>=1.42,<2
